# Database Configuration
# Untuk PostgreSQL Cloud (Neon, Supabase, atau Vercel Postgres)

# Neon Database (Recommended - Free Tier)
# DATABASE_URL="postgresql://username:password@ep-clean-valley-123456.us-east-2.aws.neon.tech/dbname?sslmode=require"

# Supabase Database
# DATABASE_URL="postgresql://postgres:password@db.xxxxx.supabase.co:5432/postgres"

# Vercel Postgres
# DATABASE_URL="postgresql://default:xxxxx@ep-xxxxx.aws.neon.tech:5432/verceldb"

# NextAuth Configuration
NEXTAUTH_SECRET="your-secret-key-min-32-chars-here"
NEXTAUTH_URL="http://localhost:3000"

# Production URL (Update setelah deploy)
# NEXTAUTH_URL="https://your-app.vercel.app"

